:root {
  --light-pink: rgb(253, 221, 226);
  --dark-red: rgb(129, 0, 26);
  --bright-red: rgb(172, 0, 34);
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: var(--light-pink);
  position: relative;
  margin: 0px;
}
main {
  padding-bottom: 200px;
}
#top {
  background: pink;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 40px;
  margin-bottom: 40px;
}
h1,
h2,
h3,
h4,
p {
  width: 650px;
  max-width: 90vw;
  margin: auto;
  padding: 10px;
}
h2,
h3 {
  font-family: Cambria, Times, "Times New Roman", serif;
}

.hidden {
  display: none !important;
}
#top-link {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  box-shadow: 2px 2px 5px #333;
  z-index: 10000;
}
#permission-prompt,
#periods {
  text-decoration: underline;
  cursor: pointer;
}
.highlighted {
  font-size: larger;
  font-family: Cambria, Times, "Times New Roman", serif;
}
a {
  color: black;
}
#top h1 {
  width: 300px;
  display: block;
  margin: auto;
}
#top h1 span {
  display: block;
  text-align: right;
}
#ease {
  font-size: 64px;
}
#the {
  font-size: 38px;
}
#flames {
  font-size: 68px;
  animation: flicker 4s infinite;
}
@keyframes flicker {
  0%,
  100% {
    font-style: normal;
    color: black;
    text-shadow: none;
  }
  50% {
    font-style: italic;
    color: var(--dark-red);
    text-shadow: 0px 0px 5px var(--bright-red);
  }
}
#top h2 {
  text-align: center;
}
